h1{
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    text-align: center;
    font-size: 1.5rem;
}
#num{
    text-align: center;
    font-size: 1.5rem;
}
button{
    font-size: 1.2rem;
    cursor: pointer;
}
.container{
    display: flex;
    border: 1px solid black;
    box-sizing: content-box;
    margin: 10px;
    justify-self: center;
    align-self: center;
}
.row{
    display: flex;
    flex-direction: column;
}
.square{
    display: flex;
    border: 1px solid black;
}